
<section class="hero-caption secPadding">

    <div class="container">
    	<br/>
<br/><br/><br/>
  <div class="row " style="margin-top: 0px;">
        <div class="col-sm-12">
  <h1>Student Life</h1>
<table>
	<tr>
		<td align="left" style="vertical-align:top">
			
<a href="/student_life/sports"><button class="btn cta-button btn-block">Sports</button></a><br/>
<a href="/student_life/culturals"><button class="btn cta-button btn-block">Culturals</button></a><br/>

<a href="/student_life/arts"><button class="btn cta-button btn-block">Art & Culinery Activities
</button></a><br/>

<a href="/student_life/awards"><button class="btn cta-button btn-block">Achievements & Awards</button></a><br/>
</td>
<td>

  


<img src="/assets/sl3.png" height="700" width="900"></td>

</tr>
</table>

  </div>
  
      </div>

    </div>
  
</section>