<!-- banner start --> 
    <div id="banner" class="banner">
      <div class="banner"><img src="/assets/bann.png" height="300" width="1600"></div>
      <div class="banner-caption">
        <div class="container">
          <div class="row">          
            
          </div>
        </div>
      </div>
    </div>
    <!-- banner end -->
<section class="hero-caption secPadding">

    <div class="container">
  
  <div class="row " style="margin-top: 0px;">
        <div class="col-sm-12">
  <h1>Why Choose Us?</h1>
<h5>5 Good Reasons Why You Should Admit Your Kids in Dolphin</h5>
<img src="/assets/1.png">
<img src="/assets/2.png">
<img src="/assets/3.png">
  </div>
  
      </div>

    </div>
  
</section>