<section class="hero-caption secPadding">

    <div class="container">
  
  <div class="row " style="margin-top: 0px;">
        <div class="col-sm-12">
  <h1>Student Life</h1>
<table>
	<tr>
<td><img src="/assets/sl1.png"></td>
<td><img src="/assets/sl2.png"></td>
</tr>
<tr>
<td><img src="/assets/sl4.png"></td>
<td><img src="/assets/sl3.png"></td>
</tr>
</table>
  </div>
  
      </div>

    </div>
  
</section>