
<section class="hero-caption secPadding">

    <div class="container">
    	<br/>
<br/><br/><br/>
  <div class="row " style="margin-top: 0px;">
        <div class="col-sm-12">
  <h1>About Us</h1>
<table>
	<tr>
		<td align="left" style="vertical-align:top">
<a href="/about/management"><button class="btn cta-button btn-block">Management's Message</button></a><br/>
<a href="/about/vision"><button class="btn cta-button btn-block">Vision & Mission</button></a><br/>

<a href="/about/infra"><button class="btn cta-button btn-block">Infrastructure
</button></a><br/>

</td>
<td>

  

<br />
<img src="/assets/in1.png" height="2000" width="700"></td>

</tr>
</table>

  </div>
  
      </div>

    </div>
  
</section>